@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfe3eb;
    font-family: 'Open Sans';
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.border {
    width: 550px;
    height: 780px;
    background-color: #ffffffe5;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.3);
    margin-bottom: 40px;
}

h2 {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    padding: 20px 40px;
    text-align: center;
    background-color: #fba414;
    color: white;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 50px;
}

input , select {
    width: 100%;
    height: 40px;
    border: 2px solid #9999993b;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

textarea {
    resize: none;
    border: 2px solid #9999993b;
    border-radius: 5px;
    padding: 10px 10px 40px 10px;
    outline: none;
}

.sc {
    display: grid;
    gap: 10px;
}

.s {
    display: flex;
    grid-column: 1;
    flex-direction: column;
}

.c {
    display: flex;
    grid-column: 2;
    flex-direction: column;
}

.file {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.file input {
    display: none;
}

.caixa-file {
    width: 100%;
    height: 40px;
    border: 2px dashed #fba414;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    background-color: #f8fafc;
}

.caixa-file p {
    font-size: 14px;
    color: #555;
}

button {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #023047;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 0;
    transition: 0.3s;
    margin-top: 20px;
}

button:hover {
    transform: scale(1.03);
    background-color: #054a6d;
}