@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

:root {
    --primaryOrange: #fca311;
    --primaryBlue: #023047;
    --highlightYellow: #ffe864;
    --card: #fff;
    --background: #dfe3eb;
    --textHeader: #464646;
}

body {
    background-color: var(--background);
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    /* background-color: var(--background); */
    color: var(--textHeader);
    padding: 20px;
    border-bottom: 2px solid #ffffff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav img {
    width: 150px;
    height: auto;
}

.search-header {
    position: relative;
    max-width: 550px;
    width: 100%;
}

.search-header::after, .search-header::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    translate: -50% -50%;
    border-radius: 30px;
    background: conic-gradient(from var(--angle), var(--primaryOrange), var(--highlightYellow), var(--primaryOrange));
    z-index: -1;
    padding: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search-header:focus-within::after, .search-header:focus-within::before {
    opacity: 1;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.search-header input {
    width: 100%;
    padding: 10px 45px 10px 20px;
    border-radius: 30px;
    background: var(--card);
    color: #000;
    font-size: 14px;
    outline: none;
    border: 1px solid #888;
    transition: all 0.2s ease;
}

.search-header input::placeholder {
    color: #888;
}

.search-header input:focus {
    border: none;
}

.search-header i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}  

.header-itens {
    margin-right: 25px;
}

.header-itens a {
    color: var(--textHeader);
    font-size: 15px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}

.header-itens a:hover {
    color: var(--primaryOrange);
    border-bottom: 1px solid var(--primaryOrange);
}

.header-cart a {
    margin-right: 20px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.header-cart svg {
    width: 20px;
    height: 20px;
    color: var(--textHeader);
    transition: 0.3s;
}

.header-cart svg:hover {
    color: var(--primaryOrange);
    transform: scale(1.2);
}

.btn-promocao a {
    background-color: var(--primaryOrange);
    border: var(--primaryOrange) solid 2px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
    margin-right: 25px;
}

.btn-promocao a:hover {
    border: var(--primaryOrange) solid 2px;
    background-color: #fff;
    color: var(--primaryOrange);
}

.btn-promocao:hover, .btn-entrar:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.btn-entrar a {
    background-color: #fff;
    border: var(--primaryOrange) solid 2px;  
    color: var(--primaryOrange);  
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-entrar a:hover {
    border: var(--primaryOrange) solid 2px;
    background-color: var(--primaryOrange);
    color: #fff;
}  
 

/* Página de Promoção */

.main-promocao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    gap: 20px;
}

.text-promocao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 35px;
}

.text-promocao span {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primaryOrange);
    margin-bottom: 10px;
}

.text-promocao h1 {
    font-size: 34px;
    margin-bottom: 20px;
}

.text-promocao p {
    font-size: 16px;
    color: var(--textHeader);
    max-width: 600px;
}

/* Carrossel de Promoção */

.container-promocao {
    width: 100%;
    max-width: 80vw;
    min-height: 33em;
    overflow-x: auto;
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    anchor-name: --carrosel; 
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

/* Bolinhas embaixo do carrossel */

.container-promocao::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.card-promocao::scroll-marker {
    content: 'texto';
    color: transparent;
    height: 15px;
    width: 15px;
    background-color: #0230473f;
    border-radius: 50%;
}

.card-promocao::scroll-marker:target-current {
    background-color: var(--primaryBlue);
}

.container-promocao::-webkit-scrollbar {
    display: none;
}

/* Setas para mexer no carrossel */

.container-promocao::scroll-button(right){
    content: ">";
    background-color: var(--primaryOrange);
    border: none;
    font-size: 18px;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    position-anchor: --carrosel;
    position-area: right center;
    margin-left: 15px;
}

.container-promocao::scroll-button(left) {
    content: "<";
    background-color: var(--primaryOrange);
    border: none;
    font-size: 18px;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    position-anchor: --carrosel;
    position-area: left center;
    margin-right: 15px;
}

.container-promocao::scroll-button(right):disabled, .container-promocao::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

/* Card */

.card-promocao {
    scroll-snap-align: start;
    flex: 0 0 20em;
    height: 30em;
    width: 100%;
    min-width: 18.7vw;
    background-color: var(--card);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    transition: 0.3s ease;
    position: relative;
}

.card-promocao:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.034);
}

.situacao {
    position: absolute;
    top: 10px;
    left: 10px;
    letter-spacing: 1px;
    background-color: rgba(125, 168, 224, 0.85);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    z-index: 5;
}

.em-estoque {
    background-color: rgba(125, 168, 224, 0.85);
}

.fora-de-estoque {
    background-color: rgba(255, 0, 0, 0.85);
}

.card-promocao-img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.card-promocao-img img {
    height: 90%;
    object-fit: cover;
}

.card-promocao-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-promocao-categoria {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primaryOrange);
}

.card-promocao-info h3 {
    font-size: 18px;
    color: var(--textHeader);
    margin-top: 0.5em;
}

.card-promocao-linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-promocao-descricao {
    font-size: 12px;
    color: #aaa;
}

.card-promocao-preco p {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.card-promocao-estoque {
    font-size: 12px;
    color: #aaa;
    font-weight: 600;
}

.card-promocao-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-detalhes {
    padding: 8px 15px;
    background-color: #ffffff;
    color: #464646;
    border: 1px solid #505050;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-detalhes:hover {
    background-color: #023047;
    color: #fff;
    border-color: #023047;
}

.card-promocao-preco-original p {
    text-decoration: line-through;
    color: #ccc;
    font-size: 0.9em;
    margin: 0;
}

.card-promocao-preco-desconto p {
    color: #28a745;
    font-weight: bold;
    margin: 0;
}