body {
    font-family: 'Oswald', sans-serif;
    background-color:#fcfcfc93;
    margin: 0;
    padding: 0;

}

.containerFIN {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 35px auto 50px auto;
    padding: 40px;
}

.containerFIN {
    max-width: 90%;
    margin: 0 auto;
    padding: 120px 40px 40px 40px;
}

.maintitle {
    width: 90%;
    color: #000000;
    margin-bottom: 20px;
    padding: 50px;
    margin: -5px 0 0 -24.3px;
}

.maintitle h1 {
    font-size: 32px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 8px;
}

.maintitle p {
    font-size: 16px;
    color: #8c8c8c;
    font-weight: 400;
}

.financeiro-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
    padding: 50px;
    margin-left: -25px;
    margin-top: -50px;
}

.financeiro-card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 28px 32px;
    min-height: 140px;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
    border: 1px solid #f3f4f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    padding: 15px 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.10);
    width: 20.3%;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}

.financeiro-card h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #bdbcbc;
}

.financeiro-card p {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    color: #000000;
}

/** Seções Adicionais **/
.performance-categoria,
.top-tier {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px 30px;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    width: 45%;
}

.performance-categoria h2,
.top-tier h2,
.vendasrecente h2 {
    font-size: 18px;
    font-weight: 700;
    color: #111827;
}