body {
    font-family: 'Oswald', sans-serif;
    background-color:#fcfcfc93;
    margin: 0;
    padding: 0;

}

.containerFIN {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 35px auto 50px auto;
    padding: 40px;
}

.maintitle {
    width: 90%;
    color: #000000;
    margin-bottom: 20px;
    padding: 50px;
    margin: -5px 0 0 -24.3px;
}

.maintitle h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
}

.maintitle p {
    font-size: 20px;
    color: #333333ad;
    margin: 0;
}

/** Container dos Cards **/
.financeiro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    margin-left: -25px;
    margin-top: -50px;
}

.financeiro-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    padding: 15px 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.10);
    width: 20.3%;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}

.financeiro-card h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #bdbcbc;
}

.financeiro-card p {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    color: #000000;
}

/** Seções Adicionais **/
.performance-categoria,
.top-tier {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px 30px;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    width: 45%;
}

.performance-categoria h2,
.top-tier h2,
.vendasrecente h2 {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin: 0 0 15px 0;
}

.performance-categoria p,
.top-tier p,
.vendasrecente p {
    font-size: 16px;
    color: #666666;
    margin: 10px 0;
}
